/*.chart div{
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}*/

.SideBar

.chart rect{
  fill: steelblue;
}

.bar{
  fill: steelblue;
}

.bar:hover{
  fill: brown;
}

.x path{
  display: none;
}

.chart text{
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.axis path
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
